@{
    @model List<GreenTourism.DAL.Models.Place>
    ViewData["Title"] = "Місця для зеленого туризму";
}

<main id="main">

    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Місця для зеленого туризму в Україні</h2>
                    <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li><a href="/home/index">Головна</a></li>
                <li>Місця зеленого туризму</li>
            </ol>
        </div>
    </section>

    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">Карпати</li>
                        <li data-filter=".filter-app">Море</li>
                        <li data-filter=".filter-card">Степова Україна</li>
                        <li data-filter=".filter-web">Центральна Україна</li>
                        <li data-filter=".filter-web">Поділля</li>
                        <li data-filter=".filter-web">Полісся</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up">
                @foreach (var place in Model)
                {
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="border: 1px solid #eee; box-shadow: 0 2px 2px #ccc" >
                        <div class="portfolio-wrap">
                            <img src="~/img/places/@place.MainPhoto.Path" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>@place.Name</h4>
                                <p>@place.Description</p>
                                <div class="portfolio-links">
                                    <a href="~/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                                    <a href="/home/details" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>

                        </div>
                        <h3 style="text-align: center">@place.Name</h3>
                    </div>
                }
            </div>
        </div>
    </section>
</main>