<header id="header" class="fixed-top">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="index.html">Зелений туризм</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="/home/index">Домашня сторінка</a></li>
                @*<li><a href="/home/about">Місця</a></li>*@
                @*<li><a href="/home/pricing">Pricing</a></li>
                @* <li><a href="/home/services">Services</a></li>*@
                <li><a href="/places/index">Місця</a></li>
                <li><a href="/home/blog">Події</a></li>
                <li><a href="/home/about">Поради</a></li>
                <li><a href="/home/contact">Contact</a></li>

                <li class="get-started"><a href="#get-started">Увійти</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->